.lia-quoter-projects__item,{
  display: flex;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.lia-card__item{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.lia-quoter-projects__left{
  	padding-top: 15px;
  	padding-left: 15px;
  	padding-bottom: 15px;
}

.lia-quoter-projects__right{
	padding: 10px 15px;
}
