.lia-flex-items-center{
  display: flex;
  align-items: center;
}

.lia-flex{
  display: flex;
}

.lia-flex-justify-center{
  display: flex;
  justify-content: center;
}

.lia-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lia-direction-column{
  flex-direction: column;
}

.lia-iflex-items-center{
  display: inline-flex;
  align-items: center;
}
