.lia-recipe-image{
  position: relative;
}

.lia-image-upload__hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0,0,0,.7);
  transition: opacity .3s linear;
}

.lia-image-upload__hover:hover{
  opacity: 1;
}
