.editor-styles-wrapper p.lia-mb-8,
.lia-mb-8{
  margin-bottom: 8px;
}

.lia-ml-8{
  margin-left: 8px;
}

.wp-core-ui .button-primary.lia-mr-8,
.wp-core-ui .button-secondary.lia-mr-8,
.lia-mr-8{
  margin-right: 8px;
}

.lia-ml-auto{
  margin-left: auto;
}

.lia-mt-8{
  margin-top: 8px;
}

.lia-mb-0,
.editor-styles-wrapper h4.lia-mb-0,
.editor-styles-wrapper h5.lia-mb-0,
.editor-styles-wrapper h6.lia-mb-0{
  margin-bottom: 0;
}
