html .editor-styles-wrapper h2,
h1,
h2,
h3,
h4,
h5,
h6{
  color: currentColor;
}

.lia-text-center{
	text-align: center;
}

.lia-text-right{
  text-align: right;
}

.lia-text-left{
  text-align: left;
}

.lia-lheight-0{
  line-height: 0;
}
