html .editor-styles-wrapper h2,
h1,
h2,
h3,
h4,
h5,
h6{
  color: currentColor;
}

.lia-text-center{
	text-align: center;
}

.lia-text-right{
  text-align: right;
}

.lia-text-left{
  text-align: left;
}

.lia-lheight-0{
  line-height: 0;
}

@mixin text-movil-1 {
  font-size: size(16);
line-height: size(20);
}
@mixin text-movil-2 {
  font-size: size(12);
line-height: size(15);
}
@mixin text-movil-3 {
  font-size: size(14);
line-height: size(17);
}