/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import './fonts/stylesheet.css';
@font-face {
  font-family: "Century Gothic Bold";
  src: url("./fonts/CenturyGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/CenturyGothic.ttf") format("truetype");
}
:root {
	--width_base: 1920;
}
*{
/*	outline: 1px solid red;*/
}

.my-container {
  max-width: calc(100vw * (calc(1482 / var(--width_base))));
  margin: auto;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

/*THEME*/

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0;
}

/*SECTION*/

.lia-section-spacing {
  padding: calc(100vw * (calc(50 / var(--width_base))))
    calc(100vw * (calc(30 / var(--width_base))));
}

.lia-seccion-fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lia-section-container {
  margin-left: auto;
  margin-right: auto;
}

/*FORMULARIO*/

.lia-form-control {
  margin-bottom: calc(100vw * (calc(15 / var(--width_base))));
}

.lia-form-control select,
.lia-form-control input[type="text"],
.lia-form-control input[type="email"],
.lia-form-control input[type="tel"],
.lia-form-control input[type="number"],
.lia-form-control textarea {
  width: 100%;
}

.btn.is-active {
  background-color: #198754;
}

/**/
.title-des {
  font-family: "Century Gothic Bold" !important;
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw * (calc(40 / var(--width_base))));
  line-height: calc(100vw * (calc(49 / var(--width_base))));
  color: #3c3c3a;
  margin-bottom: calc(100vw * (calc(23 / var(--width_base)))) !important;
}
.subtitle-des {
  font-family: "Century Gothic" !important;
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (calc(24 / var(--width_base))));
  line-height: calc(100vw * (calc(29 / var(--width_base))));
  color: #3c3c3a;
}
.btn-quiero,
.btn-quiero:hover {
  width: calc(100vw * (calc(161 / var(--width_base))));
  height: calc(100vw * (calc(36 / var(--width_base))));
  background: #be1521 !important;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Century Gothic Bold" !important;
  font-style: normal;

  font-size: calc(100vw * (calc(16 / var(--width_base))));
  line-height: calc(100vw * (calc(20 / var(--width_base))));
  text-align: center;
  color: #ffffff;
  border: none !important;
}
.img-des {
  width: calc(100vw * (calc(751 / var(--width_base))));
  height: calc(100vw * (calc(445 / var(--width_base))));
}
.pdt-93 {
  padding-left: calc(100vw * (calc(93 / var(--width_base)))) !important;
}
.mrg-top-141 {
  margin-top: calc(100vw * (calc(141 / var(--width_base)))) !important;
}
.box-proyecto {
  position: absolute;
  width: calc(100vw * (calc(964 / var(--width_base))));
  height: 101px;
  border-radius: 21px;
  display: flex;
  bottom: -50px;
  right: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.part-4 {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.part-3 {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.box-title {
  font-family: "Century Gothic Bold";
  font-style: normal;
  font-size: calc(100vw * (calc(16 / var(--width_base))));
  line-height: calc(100vw * (calc(20 / var(--width_base))));
  color: #ffffff;
  margin-bottom: 4px !important;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff;
  width: fit-content;
}
.box-subtitle {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (calc(18 / var(--width_base))));
  line-height: calc(100vw * (calc(22 / var(--width_base))));
  color: #ffffff;
  margin-bottom: 0px !important;
}
.hero {
  height: 90vh;
  position: relative;
}
#content.site-content {
  padding-top: 0px !important;
}
.logo-front {
  position: absolute;
  width: calc(100vw * (calc(304 / var(--width_base))));
  bottom: calc(100vw * (calc(90 / var(--width_base))));
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}

/**/
/*ADMIN*/
.logo-admin {
  position: absolute;
  z-index: 1;
  width: 20%;
  bottom: 70px;
  right: 42%;
}
/**/

/*MEDIA QUERIES*/

@media (max-width: 767px) {
  :root {
    --width_base: 375;
  }
}
