
.btn-avance{

}
.btn-avance-on{

}
.slider-obra{
    width: calc(100vw * (calc(928 / var(--width_base))));
}
.column-slider{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}