
.btn-avance{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.btn-avance-on{

}
.slider-obra{
    width: calc(100vw * (calc(928 / var(--width_base))));
}
.column-slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.separador-avance{
    margin-top: calc(100vw * (calc(158 / var(--width_base))));
    margin-bottom: calc(100vw * (calc(212 / var(--width_base))));
}
.btn-avance.slick-slide.slick-current p{
    background: #009EA0;
    color: #FFFFFF;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    border: none !important;
}
.slider-nav-avance, .slider-nav-avance .slick-list.draggable{
    height: calc(100vw * (calc(220 / var(--width_base)))) !important;
    padding: calc(100vw * (calc(10 / var(--width_base)))) 0px !important;
}
.slider-nav-avance .slick-list.draggable{
    margin-top: calc(100vw * (calc(24 / var(--width_base)))) ;
    margin-bottom: calc(100vw * (calc(24 / var(--width_base)))) ;
}
.my-video{
  height:  calc(100vw * (calc(486 / var(--width_base)))) ;
}
.width-card-100{
    width: 100%;
}
.flex-wrap-admin{
    flex-wrap: wrap;
}
.btn-transp{
    width: size(468);
    height: size(52);
    background: #3C3C3A;
    border-radius: 9px;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-weight: 700;
    font-size: size(24);
    line-height: size(29);
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: size(61);
}
.btn-transp:hover{
    background: #3C3C3A;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none !important;

}
.wp-block-dkasa-avance{
    border: 1px solid #e0e0e0;
}
@media screen and (max-width: 767px) {
    //para responsive agregar 
​
.slider-for-avance .slick-arrow{ 
    display: none !important;
} 

//para responsive corregir
.my-video{
    height: auto !important; // tiene q tener auto porq si no aparece una espacio abajo
}
}