.banner-color{
    width: 100%;
   /* height: calc(100vw * (calc(144 / var(--width_base)))) !important;*/
    background: #009EA0;
}
.banner-color p, .banner-color p:hover{ 
    font-family: 'Century Gothic Bold';
    font-style: normal; 
    font-size: calc(100vw * (calc(48 / var(--width_base))));
    line-height: calc(100vw * (calc(59 / var(--width_base))));
    color: #FFFFFF;
    margin-bottom: 0px !important;
    text-decoration: none !important; 
}
.btn-link:hover {
  text-decoration: none !important;
}

.btn-green-lg,   .btn-green-lg:hover{
    width: calc(100vw * (calc(274 / var(--width_base))));
    height: calc(100vw * (calc(52 / var(--width_base))));
    background: #009EA0;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(24 / var(--width_base))));
    line-height: calc(100vw * (calc(29 / var(--width_base))));
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    margin-bottom: calc(100vw * (calc(28 / var(--width_base))));
  }
  .btn-white-lg,   .btn-white-lg:hover{
    width: calc(100vw * (calc(274 / var(--width_base))));
    height: calc(100vw * (calc(52 / var(--width_base))));
    background: #FFFFFF;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(24 / var(--width_base))));
    line-height: calc(100vw * (calc(29 / var(--width_base))));
    text-align: center;
    color: #3C3C3A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    border: 1px solid #3C3C3A;
    cursor: pointer;
  }
  .slider-nav-avance .btn-white-lg{
    margin-bottom: calc(100vw * (calc(18 / var(--width_base))));
  }
  .btn-white-lg:hover{
    width: calc(100vw * (calc(274 / var(--width_base))));
    height: calc(100vw * (calc(52 / var(--width_base))));
    background: #009EA0;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(24 / var(--width_base))));
    line-height: calc(100vw * (calc(29 / var(--width_base))));
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    border: 0px !important;
  }
  .mrg-18-p{
    margin-bottom: calc(100vw * (calc(18 / var(--width_base)))) !important;
  }
  .img-plano{
    /*width: calc(100vw * (calc(742 / var(--width_base)))) !important;*/
    margin: auto;
    height: auto;
  }
  .carousel-planos{
    width: calc(100vw * (calc(742 / var(--width_base))));
  }
  .center-btn{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
  }
  .separador-87{
    margin-top: calc(100vw * (calc(87 / var(--width_base))));
    margin-bottom: calc(100vw * (calc(105 / var(--width_base))));
  }
  .pdt-34{
    padding-top: calc(100vw * (calc(34 / var(--width_base))));
  }
  .color-form{
    background-color: #3c3c3a;
    color: #ffffff;
  }
  .color-form .wpcf7-form label {
    font-size: calc(100vw * (calc(20 / var(--width_base))));
    line-height: calc(100vw * (calc(25 / var(--width_base))));
    margin-bottom: calc(100vw * (calc(11 / var(--width_base))));
}
.color-form .wpcf7-form input[type="tel"], .color-form .wpcf7-form input[type="text"], .color-form .wpcf7-form input[type="email"], .color-form .wpcf7-form select {
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: calc(100vw * (calc(24 / var(--width_base))));
  line-height: calc(100vw * (calc(29 / var(--width_base))));
  width: calc(100vw * (calc(571 / var(--width_base))));
  padding-right: 0;
  padding-left: 0;
}
.color-form .wpcf7-form input[type="submit"] {
  width: calc(100vw * (calc(147 / var(--width_base))));
  height: calc(100vw * (calc(43 / var(--width_base))));
  background: #be1521;
  border-radius: calc(100vw * (calc(12 / var(--width_base))));
  font-weight: 700;
  font-size: calc(100vw * (calc(20 / var(--width_base))));
  line-height: calc(100vw * (calc(25 / var(--width_base))));
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}
.card-body-form{
  padding-top: calc(100vw * (calc(40 / var(--width_base))));
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: calc(100vw * (calc(120 / var(--width_base))));
}