/*FRONTEND*/
.subtitle-general{
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(48 / var(--width_base))));
    line-height: calc(100vw * (calc(59 / var(--width_base))));
    color: #3C3C3A;
    margin-bottom: calc(100vw * (calc(18 / var(--width_base)))) !important;
  }
  .separador{
    margin-bottom: calc(100vw * (calc(153 / var(--width_base))));
  }
  .btn-green,   .btn-green:hover{
    width: calc(100vw * (calc(224 / var(--width_base))));
    height: calc(100vw * (calc(52 / var(--width_base))));
    background: #009EA0;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(24 / var(--width_base))));
    line-height: calc(100vw * (calc(29 / var(--width_base))));
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    margin-right: calc(100vw * (calc(45 / var(--width_base))));
  }
  .btn-white,   .btn-white:hover{
    width: calc(100vw * (calc(224 / var(--width_base))));
    height: calc(100vw * (calc(52 / var(--width_base))));
    background: #FFFFFF;
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-size: calc(100vw * (calc(24 / var(--width_base))));
    line-height: calc(100vw * (calc(29 / var(--width_base))));
    text-align: center;
    color: #3C3C3A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100vw * (calc(9 / var(--width_base))));
    text-decoration: none !important;
    border: 1px solid #3C3C3A;
  }
  .d-flex{
    display: flex;
  }
  .arrow-slider-prev{
    position: absolute;
    z-index: 1;
    left: calc(100vw * (calc(-54 / var(--width_base))));
    bottom: 50%;
    cursor: pointer;
  }
  .arrow-slider-next{
    position: absolute;
    z-index: 1;
    right: calc(100vw * (calc(-54 / var(--width_base))));
    bottom: 50%;
    cursor: pointer;
  }
  .page-child .entry-content, .entry-content{
    background-image: 
                      url("/public/image/Background/cubo.png"), 
                      url("/public/image/Background/Fondo-1-2.png"),
                      url("/public/image/Background/cubo.png"), 
                      url("/public/image/Background/cubo.png"),
                      url("/public/image/Background/Fondo-1-2.png");
                     
    background-repeat: no-repeat;
    background-position-x: 
                          size(120), 
                          size(1616),
                          size(31),
                          size(1616),
                          size(230);
                         
    background-position-y: 
                          size(860),
                          size(1360),
                          size(1860),
                          size(2150),
                          size(4750);
    background-size:  
                          size(154) size(154),
                          size(235) size(218),
                          size(154) size(154),
                          size(154) size(154),
                          size(235) size(218);
  }

  .bg-ubicacion{
    background-image: url("/public/image/Background/Fondo-1-2.png");
    background-repeat: no-repeat;
    background-position-x: size(20);
    background-position-y: size(352);
    background-size: size(235) size(218);
  }
  .bg-simple{
    background-image: url("/public/image/Background/cubo.png");
    background-repeat: no-repeat;
    background-position-x: size(820);
    background-position-y: size(50);
    background-size: size(154) size(154);
  }
  .sub-menu{
    position: fixed;
    width: size(181);
    height: size(247);
    border-radius: size(21);
    right: 0;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-menu a{
    font-family: "Century Gothic Bold";
    font-style: normal;
    font-size:  size(16);
    line-height:  size(20);
    color: #FFFFFF !important;
    width: 59%;
    text-align: center;
    margin-bottom: size(28);
  }
  .sub-menu a:nth-child(4){
    margin-bottom: 0px !important;
  }
  .box-sub-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/*BACKEND*/