#testimonios-front {
  font-family: "Century Gothic", sans-serif;
  margin-bottom: size(88);
  .columna-1 {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    img {
      margin-left: size(218);
      margin-top: size(62);
      width: size(247);
      @media screen and (max-width: 767px) {
        width: size(191);
        margin-top: size(25);
        margin-bottom: size(42);
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .columna-2 {
    .contenido-contenedor {
      margin-left: size(277);
      margin-right: size(277);
      @media screen and (max-width: 767px) {
        margin-left: size(23);
        margin-right: size(23);
      }
      #testimonios-slider {
        display: flex;
        margin-bottom: size(49);
        .slick-arrow {
          display: flex;
          align-items: center;
          @media screen and (max-width: 767px) {
            svg{
              width: size(14);
              height: size(23);
            }
          }
        }
        .testimonios-slide{
          z-index: 1;
          position: relative;
          padding-top: size(61);
        }
        .slider-container {
          z-index: 1;
    position: relative;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 767px) {
            padding-top: 0;
            flex-wrap: wrap;
          }
          .columna-1 {
            width: size(333);
            @media screen and (max-width: 767px) {
              width: 100%;
            }
            img {
              width: 100%;
              margin: 0;
            }
            .nombre {
              background: #be1521;
              width: size(287);
              height: size(56);
              display: flex;
              align-items: center;
              justify-content: center;
              top: auto;
              bottom: 0;
              margin-right: size(6);
              margin-left: size(40);
              border-bottom-right-radius: size(45);
              @media screen and (max-width: 767px) {
                width: size(174);
                height: size(34);
                left: 0;
                right: 0;
                margin: auto;
              }
              p {
                font-weight: 700;
                font-size: size(24);
                line-height: size(29);
                margin: 0;
                color: #ffffff;
                @media screen and (max-width: 767px) {
                  font-size: size(16);
                  line-height: size(20);
                  margin: 0;
                }
              }
            }
            .proyecto {
              font-weight: 700;
              font-size: size(20);
              line-height: size(25);
              color: #3c3c3a;
              margin: 0;
              margin-left: size(76);
              @media screen and (max-width: 767px) {
                font-size: size(14);
                line-height: size(17);
                margin: auto;
                left: 0;
                right: 0;
              }
            }
          }
          
          .columna-2 {
            width: size(504);
            margin-left: size(45);
            padding-top: size(51);
            @media screen and (max-width: 767px) {
              margin: 0;
              padding-top: size(25);
            }
            .descripcion {
              font-size: size(20);
              line-height: size(25);
              color: #000000;
              margin-bottom: size(25);
              @media screen and (max-width: 767px) {
                font-size: size(12);
                text-align: center;
                line-height: size(20);
              }
            }
            .texto-enlace {
              margin: 0;
              background: #3c3c3a;
              border-radius: 16px;
              height: 36px;
              width: 134px;
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: auto;
              @media screen and (max-width: 767px) {
                @include text-movil-3;
                margin: auto;
              }
            }
          }
        }
      }
      #testimonios-dots {
        .slick-dots {
          position: static;
          line-height: 0;
          li {
            width: size(15);
            height: size(15);
            margin-right: size(4);
            margin-left: size(4);
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            button {
              padding: 0;
              width: size(15);
              height: size(15);
              &:hover {
                &::before {
                  background: #3c3c3a;
                }
              }
              &::before {
                width: size(15);
                height: size(15);
                opacity: 1;
                border-radius: 50%;
                border: size(0.5) solid #3c3c3a;
                background-color: transparent;
                content: "";
              }
            }
            &.slick-active {
              button {
                &::before {
                  opacity: 1;
                  background: #3c3c3a;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-content{
    height: size(649);
    .modal-body{
      padding: 0;
      button{
        position: absolute;
right: 0;
width: 40px;
height: 40px;
background-color: #3C3C3A;
opacity: 1;
svg{
color: #fff;
width: size(27);
height: size(27);
font-weight: normal;
}
      }
    }
  }
}
.comilla-grande{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: size(391);
  z-index: 0;
}
.comilla-chica{
  position: absolute;
  pointer-events: none;
  top: size(330);
  right: size(178);
  z-index: 0;
}