.tu-futuro-back-card {
  background-color: #eaeaea;
  .logo-field {
    width: 50%;
  }
}

// FRONTEND
#tu-futuro-front {
  font-family: "Century Gothic", sans-serif;
  .contenido-contenedor {
    display: flex;
    justify-content: center;
    .tf-card {
      margin-right: size(47);
      margin-left: size(47);
      position: relative;
      width: size(318);
      /*height: size(567);
      overflow: hidden;*/
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a{
        text-decoration: none;
      }
      .td-card-front {
        width: size(318);
        height: size(567);
        .estado {
          height: size(44);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          background-color: #3c3c3a;
          width: 100%;
          p {
            font-weight: bold;
            font-size: size(20);
            line-height: size(25);
            margin: 0;
            color: #fff;
          }
        }
      }
      .tf-card-back{
        width: size(318);
        height: size(567);
        background: #3C3C3ACC;
        color: white;
      }
    }
  }
}
